// Nested components
@import "@ecomplus/widget-minicart/src/EcomMinicart.scss";
@import "@ecomplus/widget-search/src/EcomSearch.scss";
@import "@ecomplus/widget-navbar/src/EcomNavbar.scss";

.header {
  &__bar {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;

    a {
      display: inline-block;
      margin-right: .75rem;
      color: inherit;

      &:last-child {
        margin-right: 0;
      }
    }

    &-left a {
      @media (min-width: 992px) {
        margin-right: 1rem;
      }
    }
  }
}

.ecom-navbar {
  > .ecom-navbar__title {
    margin: 0 1rem 1rem;
  }

  > .ecom-navbar__menu {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
