.product {
  &__stage {
    text-align: center;
    min-height: 300px;
    width: 100%;

    ul {
      margin: 0;
    }
  }

  &__picture {
    width: 100%;
    box-sizing: border-box;
    padding: .5rem;
    cursor: zoom-in;
  }

  &__thumbs {
    display: block;
    margin: 1rem auto 0 auto;

    img {
      width: 100%;
      height: auto;
      margin-right: .5rem;
      font-size: .8rem;
      overflow: hidden;
    }
  }
}
