.grid-options {
  display: block;
  font-size: 1rem;
  line-height: 1;

  &--colors {
    font-size: 0;
  }

  &__title {
    display: block;
    margin-bottom: .5rem;
  }

  &__option {
    display: inline-block;
    margin-right: .5rem;
    padding: .5rem;
    height: 2.2rem;
    min-width: 2.2rem;
    cursor: pointer;
    background-color: $white;
    transition: all .15s ease-out;
    border: .1rem solid $gray-400;
    border-radius: $btn-border-radius-sm;
    color: $gray-700;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: $light;
      border-color: $gray-600;
      color: $gray-800;
    }

    &--active {
      border-color: $gray-900;
      color: $black;
    }

    &--disabled,
    &--disabled:hover {
      cursor: not-allowed;
      opacity: .65;
      border-color: $gray-200;
    }
  }
}
