.product-item {
  padding: 1rem;

  &__name {
    margin-top: .5rem;
    font-size: .88rem;
    line-height: 1.2;
    height: 3.168rem;
    overflow: hidden;
    font-weight: normal;
    display: block;
    z-index: 1;
  }

  &__prices {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 2.365rem;
    background: $white;
    width: 100%;
  }

  &__price {
    font-size: 1.25rem;
    line-height: 1.075;

    &--compare {
      font-weight: normal;
      color: $text-muted;
      text-decoration: line-through;
      font-size: .95rem;
      display: block;
    }
  }

  &__pictures {
    display: flex;
    height: 250px;
    align-items: center;
    text-align: center;
    overflow: hidden;
  }

  &__pictures,
  &__picture,
  &__picture img {
    max-height: 180px;

    @media (min-width: 576px) and (max-width: 991.98px) {
      max-height: 200px;
    }

    @media (min-width: 992px) {
      max-height: 250px;
    }

    &:not(.show) {
      color: transparent;
    }
  }

  &__picture {
    display: block;
    flex: 0 0 100%;
    opacity: 0;

    &:first-child {
      opacity: 1 !important;
    }
  }

  &:hover {
    .product-item__picture {
      display: none;

      &:last-child {
        display: block;
        opacity: 1 !important;
      }
    }
  }
}

.col > .product-item {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
