<section class="pitbar st-block-secondary">
  <div class="container">
    <div class="row">
      <div class="col">
        <i class="fas fa-shipping-fast"></i>
      </div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
  </div>
</section>
