.banner-slider {
  width: 100%;
  height: auto;
  max-width: 80rem;
  margin: 0 auto;

  &__slides,
  &__slides > li {
    min-height: 8rem;
    overflow: hidden;
    margin: 0;

    > img,
    > a > img {
      width: 100%;
    }
  }
}
