.hero-slider {
  width: 100%;
  height: auto;
  max-width: 80rem;
  margin: 0 auto;

  &__slides,
  &__slides > li {
    height: 23rem;
    overflow: hidden;
    margin: 0;

    @media (max-width: 991.98px) {
      height: 18rem;
    }

    @media (max-width: 767.98px) {
      height: 11rem;
    }

    @media (max-width: 575.98px) {
      height: 8rem;
    }
  }
}
