<!-- Add plugins for ALL SITE before </body> here. -->

<!-- Uncomment this to add jQuery to all pages:
<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous">
</script>
-->

<!-- You can also add custom JS for pages and checkout within the script below:
<script async defer>
</script>
-->
