<%
const sfTemplatePath = '../../node_modules/@ecomplus/storefront-template/template/pages/'
%>

<!doctype html>
<html lang="<%= _.lang.replace('_', '-') %>" dir="ltr">

<head>
  <%-
  await include(`${sfTemplatePath}@/head`, { _ })
  %>
  <%- await include('@custom-html/head') %>
  <%- await include('@custom-html/home/head') %>
</head>

<body>
  <script src="/storefront.js"></script>
</body>

</html>
