.glide {
  &__arrow {
    background: rgba($white, .6);
    color: $dark;
  }

  &__arrows {
    &--outer .glide__arrow {
      background: $white;
      font-size: 1.2rem;

      &--left {
        left: -22px;
      }
      &--right {
        right: -22px;
      }
    }
  }

  &__bullets {
    @media (max-width: 575.98px) {
      bottom: 10%;
    }
  }

  &__bullet {
    width: 12px;
    height: 12px;
    background-color: rgba($white, .4);
    border-color: rgba($dark, .4);

    @media (max-width: 575.98px) {
      border-width: 1px;
      width: 10px;
      height: 10px;
      margin: 0 2px;
    }

    &:hover,
    &:focus,
    &--active {
      background-color: rgba($white, .6);
      border-color: $dark;
    }
  }
}
