.ecom-navbar {
  > .ecom-navbar__title {
    margin: 0 1rem 1rem 1rem;
  }

  > .ecom-navbar__menu {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &__submenu {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
