.hero-slider {
  width: 100%;
  max-width: 80rem;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  overflow: hidden;
  height: 22rem !important;

  &.mint-swipe {
    display: block;
  }

  &__item {
    width: 100%;
    flex: 0 0 100%;
  }
}
