<%= include('html') %>
<head>
  <%= include('head', { title: pages.home.title }) %>
</head>
<%= include('body') %>
  <%= include('header') %>

  <!-- Netlify Identity for CMS -->
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <script defer>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", function (user) {
        if (!user) {
          window.netlifyIdentity.on("login", function () {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</body>
</html>
