<div class="header">
  <div class="header__countdown">
  </div>
  <div class="header__bar bg-dark">
  </div>
</div>

<!-- EcomNavbar slots -->
<header id="navbar" class="ecom-navbar">
  <div
    class="_ecom-el ecom-navbar__title"
    data-slot="header-col-1"
    data-type="store">
    <a href="/">
      <img
        v-if="body.logo"
        v-bind:src="body.logo.url"
        v-bind:alt="body.logo.alt"
        class="py-xl-1" />
      <h2 v-else>
        {{ body.name }}
      </h2>
    </a>
  </div>
  <ul
    class="_ecom-el ecom-navbar__menu"
    data-type="category"
    data-list-all="true"
    data-slot="nav">
    <li v-for="category in body.result" v-if="!category.parent">
      <a v-bind:href="'/' + category.slug">
        <img
          v-if="category.icon"
          v-bind:src="category.icon.url"
          class="mr-1" />
        {{ category.name }}
      </a>
      <span v-if="filterByParentSlug(body.result, category.slug).length">
        <a href="javascript:;" class="px-1">
          <i class="fas fa-chevron-down"></i>
        </a>
        <ul class="ecom-navbar__submenu dropdown-menu">
          <a
            class="dropdown-item"
            v-bind:href="'/' + subcategory.slug"
            v-for="subcategory in filterByParentSlug(body.result, category.slug)">
            {{ subcategory.name }}
          </a>
        </ul>
      </span>
    </li>
  </ul>
</header>
