<div class="product-item">
  <div v-if="item.pictures" class="product-item__pictures">
    <div
      v-for="(picture, index) in item.pictures.slice(0, 2)"
      class="product-item__picture fade">
      <img
        v-bind:data-src="picture.normal.url"
        v-bind:alt="picture.normal.alt"
        class="fade lozad img-fluid" />
    </div>
  </div>
  <a v-bind:href="item.slug">
    <h3 class="product-item__name">
      {{ name(item) }}
    </h3>
  </a>
  <p class="price-block">
    <span v-if="onPromotion(item)">
      {{ item.currency_symbol }}
      <strong class="price"> {{ formatMoney(item.price) }} </strong>
      <span class="base-price"> {{ formatMoney(item.base_price) }} </span>
    </span>
    <span v-else>
      {{ item.currency_symbol }}
      <strong class="price"> {{ formatMoney(price(item)) }} </strong>
    </span>
  </p>
  <span v-if="item.available">
    <button v-if="inStock(item)" class="btn btn-success"> Buy </button>
    <span class="no-stock" v-else> Out of stock </span>
  </span>
</div>
