<div class="product-item" v-bind:key="item._id">
  <a
    v-bind:href="'/' + item.slug"
    class="product-item__link"
    v-bind:title="item.name">
    <span v-if="item.pictures" class="product-item__pictures">
      <span
        v-for="(picture, index) in item.pictures.slice(0, 2)"
        class="product-item__picture fade">
        <img
          v-bind:data-src="picture.normal.url"
          v-bind:alt="picture.normal.alt"
          class="fade lozad-ecom img-fluid" />
      </span>
    </span>
    <h3 class="product-item__name">
      {{ name(item) }}
    </h3>
  </a>
  <p class="product-item__info">
    <span v-if="item.available && inStock(item)" class="product-item__prices">
      <span
        v-if="onPromotion(item)"
        class="product-item__price product-item__price--compare text-muted">
        {{ item.currency_symbol }}
        {{ formatMoney(item.base_price) }}
      </span>
      <strong class="product-item__price">
        {{ item.currency_symbol }}
        {{ formatMoney(item.price) }}
      </strong>
    </span>
    <span v-else class="product-item__unavailable">
      <%= dictionary.no_stock %>
    </span>
  </p>
</div>
