name: Automerge

on:
  pull_request:
    types: [labeled]

jobs:
  auto-merge:
    name: Auto merge bot PRs
    runs-on: ubuntu-latest
    if: |
      github.event.label.name == 'automerge' &&
      endsWith(github.actor, '[bot]')

    steps:
      - name: Squash and merge
        uses: actions/github-script@v5
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            await github.rest.pulls.merge({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: context.payload.pull_request.number,
              merge_method: 'squash'
            })
